name: Validate code

on:
  push:
  pull_request:

jobs:
  hassfest:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v2"
      - uses: home-assistant/actions/hassfest@master
  code_quality:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v2"
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: pip install 'isort==5.*' black flake8 mypy pydocstyle
      - name: Install requirements
        run: pip install -r requirements.txt
      - name: Change directory
        run: cd custom_components/garbage_collection
      - name: isort
        run: isort --line-width 88 --trailing-comma -m 3 --check-only .
      - name: black
        run: black --check .
      - name: flake8
        run: flake8 --max-line-length 88 .
      - name: pydocstyle
        run: pydocstyle .
      - name: mypy
        run: mypy --ignore-missing-imports --follow-imports=silent custom_components/garbage_collection
  bandit:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v2"
      - name: Bandit Check (Python security linter)
        uses: jpetrucciani/bandit-check@master

